<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <div>Lugar para poner la barra de búsqueda</div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda"></a>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta</a></li>
                <li><a href="/login">Ingresa</a></li>
                <li><a href="/compras">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg" width="320px" alt="">
        </section>
        <section>
            <h2>Basado en tu última vista</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="320px" alt="">
                <p>$6.770</p>
                <span>40% Off</span>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="320px" alt="">
                <p>$230.000</p>
                <span>20% Off</span>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="320px" alt="">
                <p>$70.500</p>
                <span>10% Off</span>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="320px" alt="">
                <p>$23.200</p>
                <span>5% Off</span>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="320px" alt="">
                <p>$6.770</p>
                <span>40% Off</span>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="320px" alt="">
                <p>$230.000</p>
                <span>20% Off</span>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="320px" alt="">
                <p>$70.500</p>
                <span>10% Off</span>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="320px" alt="">
                <p>$23.200</p>
                <span>5% Off</span>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>